<div class="department-table-container mat-elevation-z2">
  <!-- Success message -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <!-- Dept ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Dept ID</th>
      <td mat-cell *matCellDef="let dept">{{ dept.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Dept Name</th>
      <td mat-cell *matCellDef="let dept">{{ dept.name }}</td>
    </ng-container>

    <!-- Company ID Column -->
    <ng-container matColumnDef="companyId">
      <th mat-header-cell *matHeaderCellDef>Company ID</th>
      <td mat-cell *matCellDef="let dept">{{ dept.companyId }}</td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>Budget</th>
      <td mat-cell *matCellDef="let dept">{{ dept.budget | currency }}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let dept">{{ dept.location }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let dept">
        <button
          mat-icon-button
          color="primary"
          (click)="editDepartment(dept.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteDepartment(dept.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
